.vscode
.DS_Store
.gradle
build/
.settings
maven/
local.properties
sentry.properties
.sts4-cache
*.iml
*.li
.classpath
.project
.kotlin
mapping.txt

# graphql
schema.json
schema.graphqls

open_source_licenses.html

# lokalise credentials
lokalise.properties

# Local jks store
Jks
