.vscode
.DS_Store
.gradle
build/
.idea
.settings
maven/
local.properties
sentry.properties
.sts4-cache
*.iml
*.li
.classpath
.project
mapping.txt

# graphql
.graphqlconfig
schema.json
**/*.graphqls

# adyen credentials
adyen.xml

open_source_licenses.html

# lokalise credentials
lokalise.properties
app/src/main/res/**/strings.xml

# mixpanel credentials
mixpanel.xml

# shake credentials
shake.xml
