<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <!--
  This exists in order to guard us from having some SDK we're including bring in the AD_ID
  permission without us knowing. This is important since we've answered in the App Content Policy
  that we are *not* using an Advertising ID.
  More context here: https://support.google.com/googleplay/android-developer/answer/6048248?hl=en
  Discussion here: https://hedviginsurance.slack.com/archives/C03HT2JRDPG/p1664544052874059
  WARNING: DO *NOT* REMOVE THE "tools:node="remove" part of the AD_ID declaration
  -->
  <uses-permission
    android:name="com.google.android.gms.permission.AD_ID"
    tools:node="remove" />

  <application
    android:name=".HedvigApplication"
    android:allowBackup="true"
    android:enableOnBackInvokedCallback="true"
    android:fullBackupOnly="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/APP_NAME"
    android:largeHeap="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Hedvig.Theme">
    <activity
      android:name=".feature.loggedin.ui.LoggedInActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode|layoutDirection"
      android:exported="true"
      android:theme="@style/Hedvig.Theme.Splash"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="@string/DEEP_LINK_DOMAIN_HOST"
          android:scheme="https" />
      </intent-filter>
    </activity>
    <activity android:name=".feature.sunsetting.ForceUpgradeActivity" />
    <activity
      android:name=".feature.marketing.MarketingActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection"
      android:theme="@style/Hedvig.Theme"
      android:windowSoftInputMode="adjustResize" />

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@drawable/ic_hedvig_h" />
    <meta-data
      android:name="firebase_crashlytics_collection_enabled"
      android:value="${firebaseCrashlyticsCollectionEnabled}" />
    <!-- Do not create a FCM token on initialization, we handle that on login/logout -->
    <meta-data
      android:name="firebase_messaging_auto_init_enabled"
      android:value="false" />

    <!-- Context for this: https://commonsware.com/Jetpack/pages/chap-files-005.html -->
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>

    <service
      android:name="com.hedvig.android.notification.firebase.PushNotificationService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <receiver android:name=".feature.chat.service.ChatMessageNotificationReceiver" />

    <service
      android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
      android:enabled="false"
      android:exported="false">
      <meta-data
        android:name="autoStoreLocales"
        android:value="true" />
    </service>

    <!-- Trigger Google Play services to install the backported photo picker module. -->
    <!-- https://developer.android.com/training/data-storage/shared/photopicker#device-availability -->
    <service
      android:name="com.google.android.gms.metadata.ModuleDependencies"
      android:enabled="false"
      android:exported="false"
      tools:ignore="MissingClass">
      <intent-filter>
        <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
      </intent-filter>
      <meta-data
        android:name="photopicker_activity:0:required"
        android:value="" />
    </service>


    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge">
      <meta-data
        android:name="com.hedvig.app.feature.di.KoinInitializer"
        android:value="androidx.startup" />
      <meta-data
        android:name="com.hedvig.app.startup.DatadogInitializerImpl"
        android:value="androidx.startup" />
      <meta-data
        android:name="com.hedvig.app.startup.TimberInitializer"
        android:value="androidx.startup" />

      <!-- Remove automatic WorkManager initialization as Koin does it for us  -->
      <meta-data
        android:name="androidx.work.WorkManagerInitializer"
        android:value="androidx.startup"
        tools:node="remove" />
    </provider>
  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="bankid" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="mailto" />
    </intent>
  </queries>

</manifest>
