<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--
    This exists in order to guard us from having some SDK we're including bring in the AD_ID
    permission without us knowing. This is important since we've answered in the App Content Policy
    that we are *not* using an Advertising ID.
    More context here: https://support.google.com/googleplay/android-developer/answer/6048248?hl=en
    Discussion here: https://hedviginsurance.slack.com/archives/C03HT2JRDPG/p1664544052874059
    WARNING: DO *NOT* REMOVE THE "tools:node="remove" part of the AD_ID declaration
    -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name=".HedvigApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/APP_NAME"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Hedvig.Theme">
        <activity android:name=".feature.embark.ui.MoreOptionsActivity" />
        <activity
            android:name=".feature.chat.ui.ChatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme.Chat"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Hedvig.Theme.Splash"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/APP_SCHEME" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hedvig.app.link"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app.hedvig.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/FIREBASE_LINK_DOMAIN"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.loggedin.ui.LoggedInActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Hedvig.Theme.LoggedIn"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hedvig.android.feature.businessmodel.BusinessModelActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.myinfo.MyInfoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.payment.PaymentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.payment.PaymentHistoryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.aboutapp.AboutAppActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.claims.ui.commonclaim.CommonClaimActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.claims.ui.commonclaim.EmergencyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.offer.ui.OfferActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hedvig.app.feature.checkout.CheckoutActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.crossselling.ui.CrossSellingResultActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.referrals.ReferralsReceiverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.referrals.ui.activated.ReferralsActivatedActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.referrals.ui.ReferralsInformationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.referrals.ui.editcode.ReferralsEditCodeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.insurance.ui.detail.ContractDetailActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.adyen.payin.AdyenConnectPayinActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.trustly.TrustlyConnectPayinActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.insurance.ui.terminatedcontracts.TerminatedContractsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.embark.ui.EmbarkActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.adyen.payout.AdyenConnectPayoutActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".feature.home.ui.changeaddress.ChangeAddressActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.zignsec.SimpleSignAuthenticationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".feature.home.ui.changeaddress.result.ChangeAddressResultActivity" />
        <activity android:name=".feature.offer.quotedetail.QuoteDetailActivity" />
        <activity
            android:name=".feature.crossselling.ui.detail.CrossSellDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".feature.crossselling.ui.detail.CrossSellFaqActivity" />
        <activity android:name=".feature.sunsetting.ForceUpgradeActivity" />
        <activity
            android:name=".feature.genericauth.GenericAuthActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.addressautocompletion.ui.AddressAutoCompleteActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.genericauth.otpinput.OtpInputActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.claimdetail.ClaimDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".feature.tracking.NotificationOpenedTrackingActivity" />
        <activity
            android:name=".feature.marketing.MarketingActivity"
            android:theme="@style/Hedvig.Theme.Marketing"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hedvig.android.feature.odyssey.ClaimFlowActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode"
            android:parentActivityName="com.hedvig.app.feature.loggedin.ui.LoggedInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hedvig.android.feature.terminateinsurance.TerminateInsuranceActivity"
            android:parentActivityName="com.hedvig.app.feature.loggedin.ui.LoggedInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hedvig.android.feature.odyssey.search.groups.ClaimGroupsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hedvig.android.feature.odyssey.search.group.ClaimGroupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hedvig.android.feature.changeaddress.ChangeAddressActivity"
            android:parentActivityName="com.hedvig.app.feature.loggedin.ui.LoggedInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hedvig.android.feature.travelcertificate.GenerateTravelCertificateActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hedvig.android.feature.odyssey.search.commonclaims.SearchActivity"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_hedvig_h" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${firebaseCrashlyticsCollectionEnabled}" />
        <!-- Do not create a FCM token on initialization, we handle that on login/logout -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <!-- Context for this: https://commonsware.com/Jetpack/pages/chap-files-005.html -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.hedvig.android.notification.firebase.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".feature.chat.service.ChatMessageNotificationReceiver" />

        <service android:name=".feature.adyen.payin.AdyenPayinDropInService" />
        <service android:name=".feature.adyen.payout.AdyenPayoutDropInService" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.hedvig.app.feature.di.KoinInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.hedvig.app.startup.DatadogInitializerImpl"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.hedvig.app.startup.TimberInitializer"
                android:value="androidx.startup" />

            <!-- Remove automatic WorkManager initialization as Koin does it for us  -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="bankid" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

</manifest>
