<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hedvig.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HedvigApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/APP_NAME"
        android:largeHeap="true">
        <activity
            android:name=".feature.keygear.KeyGearValuationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.chat.ui.ChatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme.Splash"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/APP_SCHEME" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hedvig.app.link"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app.hedvig.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/FIREBASE_LINK_DOMAIN"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.loggedin.ui.LoggedInActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.charity.CharityActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.feedback.FeedbackActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.myinfo.MyInfoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.payment.PaymentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.payment.PaymentHistoryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.payment.TrustlyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.myhome.MyHomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.coinsured.CoinsuredActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.aboutapp.AboutAppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.profile.ui.aboutapp.LicensesActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.claims.ui.commonclaim.CommonClaimActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.claims.ui.commonclaim.EmergencyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.marketing.ui.MarketingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme.Marketing"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.offer.OfferActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme.Offer"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.referrals.ReferralsReceiverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.referrals.ReferralsSuccessfulInviteActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme.Splash"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoggedInTerminatedActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.language.LanguageSelectionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.keygear.ui.createitem.CreateKeyGearItemActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme.KeyGear"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.keygear.ui.itemdetail.KeyGearItemDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme.KeyGear"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.keygear.ui.ReceiptActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Hedvig.Theme.KeyGear"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_hedvig_symbol_android" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.push.PushNotificationService"
            android:exported="false"
            android:icon="@drawable/ic_hedvig_symbol_android">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>