<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hedvig.app">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="28">

        <activity
            android:name=".DevelopmentActivity"
            android:label="Engineering Mode"
            android:theme="@style/Hedvig.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VectorDrawableGalleryActivity"
            android:label="Vector Drawable Gallery"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".viewgallery.ViewGalleryActivity"
            android:label="View Gallery"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".feature.referrals.ReferralsMockActivity"
            android:label="Referrals Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity android:name=".feature.onboarding.OnboardingMockActivity" />

        <activity
            android:name=".feature.chat.ChatMockActivity"
            android:label="Chat Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".feature.embark.EmbarkMockActivity"
            android:label="Embark Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".feature.offer.OfferMockActivity"
            android:label="Offer Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".feature.home.HomeMockActivity"
            android:label="Home Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".feature.insurance.InsuranceMockActivity"
            android:label="Insurance Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".feature.profile.ProfileMockActivity"
            android:label="Home Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".feature.marketpicker.MarketPickerMockActivity"
            android:label="Home Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".feature.loggedin.LoggedInMockActivity"
            android:label="Logged In Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".feature.adyen.AdyenMockActivity"
            android:label="Adyen Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity
            android:name=".feature.trustly.TrustlyMockActivity"
            android:label="Trustly Mock Screen"
            android:theme="@style/Hedvig.Theme" />

        <activity android:name=".feature.payment.PaymentMockActivity" />

        <activity android:name=".feature.changeaddress.ChangeAddressMockActivity" />

        <meta-data
            android:name="com.mixpanel.android.MPConfig.DisableEmulatorBindingUI"
            android:value="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.hedvig.app.ShakeInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>
